[submodule "trajectorytools"]
	path = trajectorytools
	url = git@gitlab.com:polavieja_lab/trajectorytools.git
[submodule "pandas_split"]
	path = pandas_split
	url = https://gitlab.com/polavieja_lab/pandas_split
